

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <title>title</title>

  </head>
  <body>


<div id="box1" class="box blurred-bg tinted">
  <div class="content">
    <h1>Blurred Background</h1>
	    <h2>By <a href="http://ariona.net" rel="follow" target="_blank">Ariona, Rian</a></h2>
    	<p>Drag this box to move around</p>
    <p class="related">See also: <a href="https://codepen.io/ariona/details/LVZLGP/" target="_blank">Staged Dropdown Animation</a></p>  
  </div>
</div>

  <script src="//localhost:35729/livereload.js"></script>
  </body>
</html>


